body {
    background-color: white;
}

.sponsor-grid {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* #sponsorship-packet {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 60px;
    position: fixed;
    height: 40px;
    background-color: rgba(220, 220, 220, 0.5);
    width: 100%;
    z-index: 99;
    text-align: center;
    font-size: 18px;
    outline: none;
    border: none;
    padding-bottom: 3px;
    transition: 0.2s;
    background-image: none;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
} */

#sponsorship-packet {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 60px;
    position: relative;
    height: 40px;
    background-color: rgba(220, 220, 220, 0.5);
    width: 100%;
    z-index: 99;
    text-align: center;
    font-size: 18px;
    outline: none;
    border: none;
    padding-bottom: 3px;
    background-image: none;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-transition: .1s;
    transition: .1s;
}

#sponsorship-packet:hover {
    background-color: rgba(250, 250, 250, 1);
    height: 50px;
    color: #df0000;
    border-radius: 0px 0px 5px 5px;
}

.content {
    margin-top: 60px;
    background-color: white;
}

#tier1Grid {
    display: grid;
    width: 90%;
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

#tier2Grid {
    display: grid;
    width: 95%;
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

#tier3Grid {
    display: grid;
    width: 95%;
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
    grid-auto-rows: 1fr;
}

#tier4Grid {
    display: grid;
    width: 95%;
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
    grid-auto-rows: 1fr;
}

#tier5Grid {
    display: grid;
    width: 95%;
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
    grid-auto-rows: 1fr;
}

.tier1Item {
    width: 100%;
    padding: 50px;
    margin: auto auto;
    object-fit: contain;
}

.tier2Item {
    width: 100%;
    padding: 60px;
    margin: auto auto;
    object-fit: contain;
    
}

.tier3Item {
    width: 100%;
    padding: 30px;
    margin: auto auto;
    object-fit: contain;
}

.tier4Item {
    width: 100%;
    padding: 20px;
    margin: auto auto;
    object-fit: contain;
}

.tier5Item {
    width: 100%;
    padding: 40px;
    margin: auto auto;
    object-fit: contain;
}

.sponsor-grid img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 850px) {
    #tier1Grid {
        grid-template-columns: 1fr;
    }
    #tier2Grid {
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }
    #tier3Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier4Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier5Grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tier1Item {
        padding: 10px;
    }
    
    .tier2Item {
        height: 100px;
        padding: 10px;
    }
    
    .tier3Item {
        padding: 15px;
    }
    
    .tier4Item {
        padding: 15px;
    }
    
    .tier5Item {
        padding: 15px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1200px) {
    /* #tier1Grid {
        grid-template-columns: 1fr;
    }
    #tier2Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier3Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier4Grid {
        grid-template-columns: repeat(1fr, 4);
    }
    #tier5Grid {
        grid-template-columns: repeat(1fr, 4);
    } */
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* #tier1Grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #tier2Grid {
        grid-template-columns: repeat(1fr, 3);
    }
    #tier3Grid {
        grid-template-columns: repeat(1fr, 4);
    }
    #tier4Grid {
        grid-template-columns: repeat(1fr, 4);
    }
    #tier5Grid {
        grid-template-columns: repeat(1fr, 4);
    } */
}