body {
    opacity: 0;
    background-color: black;
}

#nav {
    z-index: 100;
    margin: 0px;
    padding: 10px;
    background-color: #DF0000;
    display: flex;
    position: fixed;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    top: 50px;
}

#hidden-links {
    display: none;
    opacity: 0;
    text-align: right;
}

a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: black;
}

.links {
    margin-right: 45px;
    margin-top: 8px;
}

.dropdown-links {
    display: none;
    margin-right: 45px;
    margin-top: 5px;
    font-size: 25px;
    text-align: right;
}

#hamburger {
    position: relative;
    top: -3px;
    color: white;
}

#hidden-links a {
    display: block;
    text-align: right;
    margin-bottom: 5px;
    font-size: 20px;
}

.links>a {
    margin-left: 20px;
}

#logoImg {
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

#logoText {
    width: 150px;
    margin-top: 0px;
    margin-left: 20px;
}

.content {
    margin-top: 60px;
}

.testing-sites-content {
    margin-top: 20px;
}

.members-content {
    margin-top: -20px;
}

.index-content {
    margin-top: 0px;
}

.history-content {
    margin-top: 0px;
}

.gallery-content {
    margin-top: -40px;
}

@media only screen and (max-width: 1000px) {
    .dropdown-links {
        display: block;
    }
    .links {
        display: none;
    }
    #logoText {
        width: 150px;
        margin-top: 0px;
        margin-left: 10px;
    }
}