.sponsor-grid {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sponsorship-packet {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 60px;
    position: fixed;
    height: 30px;
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    z-index: 99;
    text-align: center;
    font-size: 18px;
    outline: none;
    border: none;
    padding-bottom: 3px;
    transition: 0.1s;
    background-image: none;
    backdrop-filter: blur(8px);
}

/*
#sponsorship-packet-hidden {
    color: #df0000;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 60px;
    position: fixed;
    height: 40px;
    background-image: linear-gradient(to right, #Df0000, white, white, #df0000);
    width: 100%;
    z-index: 98;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
    padding-bottom: 3px;
    transition: 0.5s;
    opacity: 0.5;
}
*/

#sponsorship-packet:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #df0000;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
}

/*
#sponsorship-packet-hidden:hover {
    opacity: 1;
}
*/

.content {
    margin-top: 90px;
}

#tier1Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tier2Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tier3Grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.tier1Item {
    padding: 20px;
    margin: auto auto;
    object-fit: contain;
}

.tier2Item {
    padding: 20px;
    margin: auto auto;
    object-fit: contain;
}

.tier3Item {
    padding: 20px;
    margin: auto auto;
    object-fit: contain;
}

@media only screen and (max-width: 850px) {
    #tier1Grid {
        grid-template-columns: 1fr;
    }
    #tier2Grid {
        grid-template-columns: 1fr;
    }
    #tier3Grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1200px) {
    #tier1Grid {
        grid-template-columns: 1fr;
    }
    #tier2Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier3Grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    #tier1Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier2Grid {
        grid-template-columns: 1fr 1fr;
    }
    #tier3Grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}